html,table{
    padding: .5rem;
}

h1{
  margin-top: 2rem !important;
  text-align: center;
}
.container{
    min-width: 1100px;
    width: 80vw;
    margin:auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 140px;
}
.row2 > div,.row3 > div{
    margin-top: -86px;
}
.row3{
    margin-left: 563px;
}
.right{
    display: flex;
    background-color: aqua;
    height: 70px;
    width: 200px;
    clip-path:polygon(0% 0%, 90% 0%,100% 50%,90% 100%,0% 100%,calc(0% + 20px) 50%);
    align-items: center;
    margin-right: -10px;
    margin-top: 20px;
    padding: 8px;
    word-break: break-all;
}
.left{
    display: flex;
    background-color: aqua;
    height: 70px;
    width: 200px;
    clip-path:polygon(10% 0%, 100% 0%,90% 50%,100% 100%,10% 100%,0% 50%);
    align-items: center;
    margin-left: -10px;
    margin-top: -86px;
    padding: 8px;
    word-break: break-all;
}
span{
    width: 140px;
    margin: auto;
}
.down_left{
    display: flex;
    background-color: aqua;
    height: 175px;
    width: 140px;
    clip-path:polygon(0% 0%, 100% 0%,100% 100%,calc(0% + 22px) 100%,0% calc(80% - 2px),calc(0% + 22px) calc(60% - 2px),50% calc(60% - 2px),50% calc(40% + 4px),0% calc(40% + 4px),calc(14.2% - 2px) 20%);
    padding-left: 20px;
    padding-right: 35px;
    align-items: center;
    margin-right: -10px;
    margin-top: 20px;
    word-break: break-all;
    padding: 16px;
}
.down_right{
    display: flex;
    background-color: aqua;
    height: 175px;
    width: 140px;
    clip-path:polygon(0% 0%, 100% 0%,calc(100% - 22px) calc(20% + 2px),100% calc(40% + 4px),50% calc(40% + 4px),50% 60%,calc(85.8% - 2px) 60%,100% 80%,calc(85.8% - 2px) 100%,0 100%);
    padding-left: 20px;
    padding-right: 35px;
    align-items: center;
    margin-top: -86px;
    word-break: break-all;
    padding: 16px;
}
.long{
    width: 360px;
    z-index: 1;
}
.long span{
    width: 320px;
    margin-left: 35px;
}
.down2{
    margin-left: -160px;
}